/media/maykon/Arquivos/1-Inovabot.com.br/API/1.0.2-RobV2/API/nodeJS/db
/media/maykon/Arquivos/1-Inovabot.com.br/API/1.0.2-RobV2/API/nodeJS/log
/media/maykon/Arquivos/1-Inovabot.com.br/API/1.0.2-RobV2/API/nodeJS/node_modules
/media/maykon/Arquivos/1-Inovabot.com.br/API/1.0.2-RobV2/Documentacao
/media/maykon/Arquivos/1-Inovabot.com.br/API/1.0.2-RobV2/API/nodeJS/package.json
/media/maykon/Arquivos/1-Inovabot.com.br/API/1.0.2-RobV2/API/nodeJS/package-lock.json
/media/maykon/Arquivos/1-Inovabot.com.br/API/1.0.2-RobV2/.vscode